  <body>
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <h3> Gondol Firm </h3>
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3><a class="pseudo" href="#">Neilly Gondol</a></h3>
                <img class="avatar" src="images/man(1).svg">
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                </ul>
    
                <p> © 2018 Neilly Gondol <br> 
                	– Front End Developer – <br>
                Madagascar </p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    
                    
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->

    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/black-bg.jpg" data-natural-width=2000 data-natural-height=1250 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                Bienvenue sur, <br>
                gondol-firm.com
                </h1>

                <p>
                Pouvant vous accompagnez dans <br>
                la réalisation de vos projets digitale.
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#home" title="home">Home<span> Bienvenue </span></a></li>
            <li><a class="smoothscroll" href="#about">About<span> Qui sommes-nous? </span></a></li>
            <li><a  class="smoothscroll" href="#contact">Contact<span> Nos contacts </span></a></li>
        </ul> <!-- end home-sidelinks -->

        <ul class="home-social">
            <li class="home-social-title">Follow Us</li>
            <li><a href="http://facebook.com/neilly.gondol">
                <i class="fab fa-facebook"></i>
                <span class="home-social-text">Facebook</span>
            </a></li>
           
            <li><a href="https://www.linkedin.com/in/neilly-randrianirina-411181172/">
                <i class="fab fa-linkedin"></i>
                <span class="home-social-text">LinkedIn</span>
            </a></li>
        </ul> <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->

        <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Qui sommes-nous ?</h3>
                <h1 class="display-1">Entreprise spécialisée dans le secteur informatique .</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Oeuvrant dans le réseau informatique, le développement et le multimedia. Nous pouvons assurer la réalisation de vos moyens et support de communication. Que ce soit visuelle ou sonore. Nous vous garantissant un résultat satisfaisant. Faites-nous confiance pour la conception et réalisation de vos projets. À très bientôt ! 
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Image</h4>

                        <p>
                        Photographie, Infographie, Illustration 2D. Tout ce qui est concerne les supports visuelles de votre organisation ou entreprise. <br>
                        ex : Affiche publicitaire, conception logotype, mise en page des livres, graphics design, etc .
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Son</h4>

                        <p>
                        Musique assitée par ordinateur, mixage, mastering. Tout ce qui est support sonore. <br>
                        ex : Voix-off, Musique de fond, etc .
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Vidéo</h4>

                        <p>
                       Réalisation, Prise de vue, Montage, Étalonnage, Effet spéciaux, Motion Graphics Design. <br>
                      ex : Spot publicitaire, motion graphics design, clip musicale , reportage, publi-reportage, documentaire, etc. 
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Web</h4>

                        <p>
                        Développement Back-end, Web design, UI/UX design, Motion design. 
                        <br>
                        ex : Conception application web, animation web, web marketing, intégration web.
                        </p>
                    </div>
                </div>

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->

     <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Contactez nous</h3>
                <h1 class="display-1 display-1--light">Entrez en contact et faisons quelque chose de grand ensemble. Tournons votre idée sur un produit encore plus grand.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="mailto:#0" class="contact-email">gondolneilly@gmail.com</a>
                <span class="contact-number">+261 (0) 34 99 365 41 /  +261 (0) 32 65 024 94</span>
                </p>
            </div> <!-- end contact-main -->

        </div> <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Où nous trouvez ? </h3>

                <p class="contact-address">
                    Antananarivo<br>
                    Madagascar<br>
                    101 Antananarivo
                </p>
            </div> <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Follow Us</h3>

                <ul class="contact-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                    	<a href="https://www.linkedin.com/in/neilly-randrianirina-411181172"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                   
                </ul> <!-- end contact-social -->

                <div class="contact-subscribe">
                    <form id="mc-form" class="group mc-form" novalidate="true">
                        <input  type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Adresse email" required="">
                        <input type="submit" class="btn--primary" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div> <!-- end contact-subscribe -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end row -->
